body{
  background-color: rgb(204, 238, 252);
  font-family: arial;
  font-size: 20px;;
}
.header{
  display: inline-block;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding-left: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
.super-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 200px;
  margin-left: 70px;
  margin-top: 100px;
}
.container1{
  display: inline-block;
}
.container2{
  display: inline-block;
}
.stuff1,
.stuff2,
.stuff5,
.stuff6{
  background-color: white;
  border: none;
  width: 700px; 
  height: 300px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
.stuff3,
.stuff4{
  background-color: white;
  border: none;
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}
.footer{
  background-color: black;
  position: relative;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  margin-top: 10px;
}
@media(max-width: 200px) {
  .header{
    display: flex;
  }
  .super-container{
    grid-template-columns: 1fr;
    column-gap: 0px;
    margin-left: 30px;
  }
  .stuff1,
  .stuff2,
  .stuff5,
  .stuff6{
    width: 400px;
  }
  .bios{
    width: 300px;
  }
  .bios-corner{
    margin-left: 30px;
  }
  .submit{
    margin-left: 305px;
  }
}
